body{
    background-color: #473198;
    font-family: Arial, sans-serif;
    width: 350px;
    padding: 20px;
}

h2{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.header{
    color: #daffed;
    font-size: 18px;
}

.description, .footer{
    color: #989898;
}

button{
    background-color: #9bf3f0;
    border: none;
    border-radius: 20px;
    width: 100%;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    color: #000000;
    transition: 0.3s;
}

button:hover{
    background-color: #db601e;
    color: #ffffff;
}